<div class="row">
    <div class="col-md-5">
        <%= bootstrap_form_with(model: @wishlist_album, local: true) do |form| %>

        <% if @wishlist_album.errors.any? %>
        <div id="error_explanation">
            <h2>
                <h3>WARNING!</h3>
                <%= pluralize(@wishlist_album.errors.count, "error") %> prohibited
                this album from being saved:
            </h2>
            <ul>
                <% @wishlist_album.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <br>
        <%= form.text_field :artist %>
        <%= form.text_field :album_title %>

        <%= form.submit class: "btn btn-outline-primary primary-font" %>
        <%= link_to 'Back to wish list', wishlist_albums_path, class: "btn btn-outline-primary primary-font" %>
        </br>
        </br>

        <% end %>
    </div>
</div>