<h1 class="jumbotron">Wishlist Albums</h1>

<div class="container" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-sm text-right">
      <%= button_to 'New wishlist album', new_wishlist_album_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

<div class="table-responsive-sm container">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= sortable 'artist' %></th>
        <th scope="col"><%= sortable 'album_title' %></th>
        <th scope="col" colspan="3" class="text-center">Actions</th>
      </tr>
    </thead>

    <% @wishlist_albums.each do |wishlist_album| %>
    <tr>
      <td><%= wishlist_album.artist %></td>
      <td><%= wishlist_album.album_title %></td>
      <td class="text-right"><%= link_to 'Edit', edit_wishlist_album_path(wishlist_album) %></td>
      <td class="text-right"><%= link_to 'Move', move_album_path(wishlist_album), 
              method: :move,
              data: {confirm: "Move "+ wishlist_album.album_title + " to collection?\n\n" +
            "Note: This will remove the album from wishlist and the album \ndetails will need to be " +
          "re-entered on the following form."} %></td>
      <td class="text-center">
        <%= link_to 'Delete', wishlist_album_path(wishlist_album),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove '+ wishlist_album.album_title + ' from your wishlist?' } %>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="container">
    <div class="row" style="padding-bottom: 20px">
      <%= link_to 'Back to home', welcome_index_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>