<h1>Add wishlist album</h1>

<div class="row">
    <div class="col-sm-4">
      <%= bootstrap_form_with(model: @wishlist_album, local: true) do |form| %>
  
      <% if @wishlist_album.errors.any? %>
      <div id="error_explanation">
        <h2>
          <h3>WARNING!</h3>
          <%= pluralize(@wishlist_album.errors.count, "error") %> prohibited
          this album from being saved:
        </h2>
        <ul>
          <% @wishlist_album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
  
      <br>
      <%= form.text_field :artist %>
      <%= form.text_field :album_title %>
  
      <%= form.submit %>
  
      <% end %>
    </div>
  </div>