<h1 class="jumbotron">Record Collection</h1>

<div class="container" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-sm">
      <!-- <h6>Search:</h6> -->
      <%= form_tag(search_page_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search], placeholder: "Search") %>
      <%= submit_tag ("Search") %>
      <% end %>
    </div>
    <div class="col-sm">
      <%= link_to 'Add new album', new_album_path %>
    </div>
  </div>
</div>

<div class="table-responsive-sm container">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= sortable "artist" %></th>
        <th scope="col"><%= sortable "album_title" %></th>
        <th scope="col"><%= sortable "year_released" %></th>
        <th scope="col"><%= sortable "genre" %></th>
        <th scope="col" colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>

    <% @albums.each do |album| %>
    <tr>
      <td><%= album.artist %></td>
      <td><%= link_to album.album_title, album_path(album) %></td>
      <td><%= album.year_released %></td>
      <td><%= album.genre %></td>
      <!-- <td><%= link_to 'Details', album_path(album) %></td> -->
      <td class="text-right"><%= link_to 'Edit', edit_album_path(album) %></td>
      <td class="text-center"><%= link_to 'Delete', album_path(album),
        method: :delete,
        data: { confirm: 'Are you sure you want to remove '+ album.album_title + ' from your collection?'} %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="container">
  <div class="row">
    <%= link_to 'Back to home', welcome_index_path %>
  </div>
</div>