<h1>New album</h1>

<%= form_with scope: :album, url: albums_path, local: true do |form| %>
  <p>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
  </p>
 
  <p>
    <%= form.label :album_title %><br>
    <%= form.text_field :album_title %>
  </p>

  <p>
    <%= form.label :year_released %><br>
    <%= form.text_field :year_released %>
  </p>

  <p>
    <%= form.label :genre %><br>
    <%= form.text_field :genre %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>