<h2 class="jumbotron text-center"><%= @album.artist %><br><%= @album.album_title %></h3>
  <div class="container text-center">

    <!-- <p>
      <strong>Artist:</strong>
      <%= @album.artist %>
    </p>

    <p>
      <strong>Album title:</strong>
      <%= @album.album_title %>
    </p> -->

    <p>
      <strong>Year released:</strong>
      <%= @album.year_released %>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= @album.genre %>
    </p>

    <%= link_to 'Back to collection', albums_path %> |
    <%= link_to 'Edit album', edit_album_path(@album) %>
  </div>