<%= render "layouts/menu" %>

<h2 class="jumbotron text-center"><%= @album.artist %><br><%= @album.album_title %></h3>
  <div class="container text-center">
    <div class="col-md">

      <% if @album.album_image.blank? %>
      <p></p>
      <% else %>
      <p>
        <%= image_tag @album.album_image, style: 'height:300px;width:300px;' %>
      </p>
      <% end %>

      <p>
        <strong>Year released:</strong>
        <%= @album.year_released %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= @album.genre %>
      </p>

      <p>
        <strong>Grade:</strong>
        <%= @album.grade %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @album.notes %>
      </p>

      <%= link_to 'Edit album', edit_album_path(@album), class: "btn btn-outline-primary" %>
      <%= link_to 'Back to collection', albums_path, class: "btn btn-outline-primary" %>
      <br>
      <br>
    </div>
  </div>