<h2 class="jumbotron text-center"><%= @album.artist %><br><%= @album.album_title %></h3>
  <div class="container text-center">
    <div class="col-md">

      <p>
        <strong>Year released:</strong>
        <%= @album.year_released %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= @album.genre %>
      </p>

      <p>
        <strong>Grade:</strong>
          <%= @album.grade %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @album.notes %>
      </p>

      <%= link_to 'Back to collection', albums_path %> |
      <%= link_to 'Edit album', edit_album_path(@album) %>
    </div>
  </div>