<!-- <div class="navbar navbar-default" style="height: 50px;background-color:rgb(76, 90, 104)">
    <div class="float-left primary-font" style="padding-left: 20px; color:whitesmoke; font-size: 18px;">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
    </div>
    <div class="float-right" style="padding-right: 20px; color:whitesmoke">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', :style => "color:whitesmoke" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', :style => "color:whitesmoke; padding-left: 10px;"  %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', :style => "color:whitesmoke"  %>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link', :style => "color:whitesmoke"  %>
            <% end %>
    </div>
</div> -->

<nav class="navbar navbar-expand-md navbar-dark" style="height:60px;background-color:rgb(76, 90, 104)">
    <div class="navbar-header primary-font navbar-brand" style="color:whitesmoke; font-size: 18px;">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav justify-content-end" style="background-color:rgb(76, 90, 104); width: 100%;">
            <li class="nav-item">
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link', :style => "color:whitesmoke; padding-left: 10px;" %>
            </li>
            <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link', :style => "color:whitesmoke; padding-left: 10px;"  %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link', :style => "color:whitesmoke"  %>
            </li>
            <li class="nav-item">
                <%= link_to "Login", new_user_session_path, :class => 'nav-link', :style => "color:whitesmoke"  %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>